* {
    margin: 0;
    padding: 0;
}

/* Estiliza elementos com o atributo required quando estão inválidos */
.form-control.invalid-field {
    border: 2px solid red;
}

/* Estiliza elementos radio com o atributo required quando estão inválidos */
.invalid-radio {
    outline: 2px solid red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

h2 {
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
}

h5 {
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
}

legend {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller !important;
}

body > legend {
    width: fit-content; /* Define a largura do elemento para se ajustar ao conteúdo */
    margin-top:20px;
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    display: none;
}

.form-group-bordered {
    border: 1px solid #572222;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.button-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    display: flex;
    align-self: center;
    padding: 4px;
    margin:1px;
}

#opcionais-pdf p {
    font-weight: 500;
}

/* div bordaA4 foi removida de index.html */
#bordaA4 {
    height: 297mm;
    /* 297mm - 40mm */
    width: 210mm;
    /* 210mm - 40mm */
    border: 1px solid #070210;
    /* Adiciona uma borda para visualização */
    box-sizing: border-box;
    /* Inclui a borda e o preenchimento no tamanho total da caixa */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.cardBorder {
    border: 1px solid #070210;
    /* Adiciona uma borda para visualização */
    box-sizing: border-box;
    /* Inclui a borda e o preenchimento no tamanho total da caixa */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#licenca-section-pdf {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 10mm;
}

/* MOVIDOS PARA A FUNÇÃO POIS NÃO POE SER FLEX E NONE AO MESMO TEMPO
#licenca-section-pdf > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.licenceText {
    font-size: 0.7rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

#licenca-section-pdf img {
    margin-bottom: 10px;
}

#pagina-pdf {
    position: relative;
    /* Segura o card-box no fim da página */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 297mm;
    width: 210mm;
    margin: 0;
    padding: 0;
}

#ficha-catalografica {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.card.top {
    gap: 0;
}

.card-top-pdf {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    /* centraliza horizontalmente em relação ao contêiner pai */
    transform: translateX(-50%);
    /* centraliza horizontalmente em relação a si mesmo, movendo o elemento #card 50% da sua própria largura para a esquerda. Isso é necessário porque left: 
    50% posiciona o lado esquerdo do elemento no meio do contêiner pai, e translateX(-50%) ajusta o elemento para que ele fique centralizado horizontalmente. */
    bottom: calc(115mm);

}

.card-top p,
.card-top-pdf p {
    text-align: center;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    /* Garante que o texto dentro de cada parágrafo não quebre em várias linhas */
}

#card-pdf {
    position: absolute;
    bottom: 0;
    /* distância entre a parte inferior de #card e a parte inferior do contêiner pai */
    left: 50%;
    /* centraliza horizontalmente em relação ao contêiner pai */
    transform: translateX(-50%);
    /* centraliza horizontalmente em relação a si mesmo, movendo o elemento #card 50% da sua própria largura para a esquerda. Isso é necessário porque left: 
    50% posiciona o lado esquerdo do elemento no meio do contêiner pai, e translateX(-50%) ajusta o elemento para que ele fique centralizado horizontalmente. */
    top: calc(297mm - 85mm - 30mm);
    /* Posiciona a parte superior do card-box de forma relativa ao tamanho da página */
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza horizontalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    width: 125mm !important;
    height: 75mm !important;
    border-top: 1px solid #070210;
    /* borda para visualização */
    border-bottom: 1px solid #070210;
    /* borda para visualização */
    box-sizing: border-box;
    /* Inclui a borda e o preenchimento no tamanho total da caixa */
    padding-top: 0px;
    padding-left: 10px;
    /* Adiciona um preenchimento interno */
    padding-right: 10px;
    padding-bottom: 0px;
    margin: 0;
    overflow: auto;
    /* Adiciona rolagem se o conteúdo exceder o tamanho da caixa */
}

#ficha-aqui,
#ficha-aqui-pdf {
    white-space: pre-wrap;
    /* Preserva quebras de linha e espaços */
    margin: 0;
    padding: 0;
    font-size: medium;
}

#codigos-aqui,
#codigos-aqui-pdf {
    margin-top: auto;
    /* Alinha o próprio elemento na parte inferior */
    padding: 0;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}

#card-bottom p {
    text-align: center;
    white-space: nowrap;
}

#card-bottom-pdf {
    position: absolute;
    bottom: 0;
    /* distância entre a parte inferior de #bib e a parte inferior do contêiner pai */
    left: 50%;
    /* centraliza horizontalmente em relação ao contêiner pai */
    transform: translateX(-50%);
    /* centraliza horizontalmente em relação a si mesmo.
    Move o elemento #card 50% da sua própria largura para a esquerda. Isso é necessário porque left: 
    50% posiciona o lado esquerdo do elemento no meio do contêiner pai, 
    e translateX(-50%) ajusta o elemento para que ele fique centralizado horizontalmente. */
    top: calc(297mm - 40mm);
    white-space: nowrap;
    /* Garante que o texto dentro de cada parágrafo não quebre em várias linhas */
}

#creditos-section-pdf {
    width: 100%;
}

#creditos-pdf {
    white-space: pre-wrap;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

/* Esconde seções condicionais */

/* LICENÇAS */

#by {
    display: none
}

#by-sa {
    display: none
}

#by-nd {
    display: none
}

#by-nc {
    display: none
}

#by-nc-sa {
    display: none
}

#by-nc-nd {
    display: none
}

#cc-0 {
    display: none
}

/* CÓDIGOS OPCIONAIS */
#codigo-cdd {
    display: none
}

#codigo-cdu {
    display: none
}

#codigo-cutter {
    display: none
}

#codigo-pha {
    display: none
}

/* PESSOA */


#pessoa-sn {
    display: none;
}

#pessoa-section {
    display: none;
}

#detalhes-pessoa {
    display: none;
}

#entidade-section {
    display: none;
}

#evento-section {
    display: none;
}

#autor-section {
    display: none;
}

#compilador-section {
    display: none;
}

#coordenador-section {
    display: none;
}

#editor-section {
    display: none;
}

#pessoa-qtd {
    display: none;
}

#pessoa-outro {
    display: none
}

#ilustrador-primeiro {
    display: none;
}

#tradutor-primeiro {
    display: none;
}

#apresentador-primeiro {
    display: none;
}

#organizador-primeiro {
    display: none;
}

#prefaciador-primeiro {
    display: none;
}

#pessoa-segundo {
    display: none;
}

#pessoa-terceiro {
    display: none;
}

#pessoa-quarto {
    display: none;
}

#ilustrador-sn {
    display: none;
}

#ilustrador-qtd {
    display: none;
}

#ilustrador-outro {
    display: none;
}

#tradutor-sn {
    display: none;
}

#tradutor-qtd {
    display: none;
}

#tradutor-outro {
    display: none;
}

#apresentador-sn {
    display: none;
}

#apresentador-qtd {
    display: none;
}

#apresentador-outro {
    display: none;
}

#organizador-sn {
    display: none;
}

#organizador-qtd {
    display: none;
}

#organizador-outro {
    display: none;
}

#prefaciador-sn {
    display: none;
}

#prefaciador-qtd {
    display: none;
}

#prefaciador-outro {
    display: none;
}

#publicador-segundo {
    display: none;
}

#paginacao-numerada {
    display: none;
}

#paginacao-romana {
    display: none;
}

#paginacao-lamina {
    display: none;
}

#pagina-lamina {
    display: none;
}

#folha-lamina {
    display: none;
}

#paginacao-nao-numerada {
    display: none;
}


#il-coloracao {
    display: none;
}

#fotos-coloracao {
    display: none;
}

#mapas-coloracao {
    display: none;
}

#mapas-coloracao {
    display: none;
}

#formato-fisico-section {
    display: none;
}

#formato-tradicional {
    display: none;
}

#formato-nao-tradicional {
    display: none;
}

#suporte-digital {
    display: none;
}

#material-adicional {
    display: none;
}

#material-adicional-section {
    display: none;
}

#serie {
    display: none;
}

#subserie-sn {
    display: none;
}

#subserie {
    display: none;
}

#isbn {
    display: none;
}

#isbn-2-sn {
    display: none;
}

#isbn-outro {
    display: none;
}

#nota {
    display: none;
}

#nota-2-sn {
    display: none;
}

#nota-outro {
    display: none;
}

#ficha-catalografica-section {
    display: none;
}

#btn-png-wrapper {
    display: none;
}

#opcionais-pdf {
    display: none;
}

#btn-pdf-wrapper {
    display: none;
}